<div class="container">
  <div class="main-grid">
    <% @paintings.each do |painting| %>
      <%= link_to painting_path(painting) do %>
        <div class="product-card">
          <div class="product-card-img" style='background-image: url(<%= cl_image_path painting.photo.key %>)'></div>
          <div class="product-card-infos">
            <div><%= painting.title %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if policy(Painting).create? %>
    <%= link_to "Rajouter un joli tableau", new_painting_path %>
  <% end %>
</div>
