<% flash.each do |type, msg| %>
  <div class="flash <%= type %>" data-controller="close-flash" data-close-flash-target='alert'>
    <div>
      <%= msg %>
    </div>
    <div class="close-flash" data-action="click->close-flash#closePartial">+</div>
  </div>
<% end %>
