<div class="footer">
  <div class="container">
    <div class="copyrights">Copyrights</div>
    <div class="logo">
        <%= link_to peintures_path do%>
          <%= image_tag 'short_signature.png' %>
        <% end %>
      </div>
    <div class="plan">Plan du site</div>
  </div>
</div>
