
<div class="footer" data-controller="footer-responsivity" data-footer-responsivity-target="footer">
  <div class="container">
    <div class="copyrights">Copyrights</div>
    <div class="logo">
        <%= link_to paintings_path do%>
          <%= image_tag 'short_signature.png' %>
        <% end %>
      </div>
    <div class="plan">Plan du site</div>
  </div>
</div>
