<% content_for(:title, "L'artiste")%>
<h2>La page de présentation de l'artiste n'a pas encore été codée</h2>

<p>Revenez plus tard pour voir la suite des travaux</p>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type" : "Person",
  "name" : "Catherine Liet",
  "image" : "",
  "jobTitle": "artiste peintre",
  "address" : {
    "@type" : "PostalAddress",
    "addressLocality" : "Andernos les bains",
    "addressRegion" : "Nouvelle Aquitaine",
    "postalCode" : "33510"
  },
  "email" : "catherine.liet@gmail.com"
}
</script>
