<% content_for(:title, "L'artiste")%>
<div class="container">
  <h1>L'artiste: Cathy Liet</h1>
  <div class="biography-grid">
    <div class="biography-text">
      <p>
        Peintre autodidacte et passionée depuis toujours, ses tableaux sont nés grâce au temps.
        Il y a bientôt 10 ans que la société lui a fait un cadeau bien mérité, la retraite, et avec elle, le temps libre.
        Et du temps il en faut pour créer, dessiner, peindre et emmener l'observateur dans son monde.
        Son monde, il est pluriel, coloré, tant tôt dynamique, tant tôt figé, parfois marin, iodé, parfois sec et désertique.
        Tous ces paysages sortis tout droit de son imagination s'inspirent de toute les expériences que Cathy a vécu.
      </p>
      <p>
        Petite fille d'un artiste peintre talentueux, elle rêve depuis petite, souvent en secret, de vivre de sa passion
        pour se passioner de la vie. Mais la vie propose de nombreux chemins que l'on doit prendre, et elle a décidé de
        travailler dur pour vivre et faire vivre ceux qu'elle aime. Bien heureusement, la vie récompense toujours les plus
        passionnés et les plus acharnés, et elle a offert à Catherine un chemin. Ce chemin qu'elle a choisi d'emprunter et de
        peindre pour notre plus grand bonheur.
      </p>
      <p>
        De nombreux voyages l'ont inspiré au cours de sa vie. Ces voyages ont été souvent retranscrit sur toile. Ainsi, vous
        pourrez voyager à Cuba et prendre le soleil auprès d'une "Classic car", parler à un Haïtien, esquinté par son travail
        mais tellement passioné par sa plantation de tabac, manger quelques 'tapas' sur une terasse dans le sud de l'Espagne
        auprès d'une danseuse de Flamenco etc ... Il ne tient qu'à vous de plonger dans cet univers et dans toutes ces cultures
        aussi différentes les unes que les autres.
      </p>
      <p>
        Sa plus grosse inspiration, cela reste la région dans laquelle ses racines sont ancrées. La gironde et le bassin d'Arcachon
        proposent leur plus beau panoramas pour que son pinceau cours sur la toile et photographie cette si belle région. On peut
        ainsi sentir l'iode du bassin où les bateaux attendent leur voyageur, on peut observer des couchers de soleil rougeoyant,
        à l'aurore ou au crépuscule, on peut aussi faire une balade sur la plage l'hiver, en toute période etc ...
      </p>
      <p>
        Ce site est avant tout fait pour partager à tous ce qui devrait l'être, à savoir une vie singulière faite de voyages,
        d'expériences et d'amour. C'est maintenant à vous d'imaginer l'histoire de l'artiste et, par ces tableaux, de l'intégrer à votre
        histoire, car les paysages de ce monde sont à nous tous, et nous tous avont notre propre histoire.
      </p>
    </div>
    <div class="biography-img">
       <%= image_tag 'catherine.webp' %>
    </div>
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type" : "Person",
  "name" : "Catherine Liet",
  "image" : "",
  "jobTitle": "artiste peintre",
  "address" : {
    "@type" : "PostalAddress",
    "addressLocality" : "Andernos les bains",
    "addressRegion" : "Nouvelle Aquitaine",
    "postalCode" : "33510"
  },
  "email" : "catherine.liet@gmail.com"
}
</script>
