<div class="banner" data-controller="disapear-navbar disapear-footer">
  <div class="container">
    <h1>Bienvenue sur le site de Cathy Liet</h1>
    <p>
      Découvrez ici son histoire et ses tableaux
      et pourquoi pas craquez pour l'un d'entre eux
    </p>
    <%= link_to "Visiter la gallerie", paintings_path, class:"btn-principal" %>
  </div>
</div>
