<div class="banner" data-controller="hello">
  <div class="container">
    <h1>Bienvenue sur le site de Cathy Liet</h1>
    <p>
      Découvrez ici son histoire et ses tableaux
      et pourquoi pas craquez pour l'un d'entre eux
    </p>
    <button>

    </button>
  </div>
</div>
