.peinture-detail-img {
  width: 80%;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

.peinture-detail-legend {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn-principal {
    border: 0;
    cursor: pointer;
  }
}

.peinture-detail-infos {
  width: 70%;
}

@media (max-width: 700px) {
  .peinture-detail-legend {
    flex-direction: column;

    .btn-principal {
      margin-top: 50px;
    }
  }

}
