// ===== CARDS FOR PAINTINGS TO SELL ===== //

.product-card {
  background: white;
  box-shadow: 0px 1px 2px grey;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  &:hover {
    .product-card-img {
      height: 100px;
    }
  }
}

.product-card-img {
  height: 300px;
  border-radius: 10px 10px 0 0;
  transition: all .5s ease;
  transition-delay: .02s;
}

.product-card-infos {
  padding: 20px;
  font-weight: bold;
}

// ===== CARDS FOR ALL PAINTINGS ===== //

.painting-card-zoom {
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 0;

  transition: all 0.3s;

  background: transparent;
  color: transparent;
  width: fit-content;
  padding: 5px 20px;
  cursor: pointer;
}

.painting-card {
  position: relative;
  border: 2px solid $gray;
  height: 200px;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    .painting-card-zoom {
      visibility: visible;
      color: white;
      background: rgba(0, 0, 0, 0.7);
    }
  }
}

.painting-card-sell {
  position: absolute;
  top: 10px;
  right: 10px;

  background: white;
  font-size: 8px;
  font-weight: bold;
  color: $red;
  border: 2px solid $red;
  border-radius: 20px;
  padding: 2px 5px;
}

// ===== CARDS FOR USER PAGE ===== //

.user-infos {
  height: 15vh;
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 20px;

  background-color: $light-gray;

  display: flex;
  align-items: center;

  .user-infos-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  h1 > span {
    color: $red;
    font-style: italic;
  }
}

.user-cards {
  width: 100%;
  font-size: 14px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.user-cards-infos {
  height: 25vh;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;

  background-color: $light-gray;

  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.user-admin {
  height: 25vh;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;

  background-color: $light-gray;

  li {
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}

.user-infos-title {
  color: $light-gray;
  font-weight: bold;
  padding: 15px;
  background: url("https://s2.svgbox.net/pen-brushes.svg?ic=brush-10&color=FD5D5D");
}

.user-orders-list, .user-infos-edit-list, .user-admin-actions {
  list-style-type: none;
  padding: 0;
  margin: 15px;

  li {
    margin: 15px 0;
  }
}
