.main-container {
  margin-top: $navbar-height;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height} - #{$footer-margin-top});
}

.container {
  width: 940px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 100%;
  }
}

.recap-parts {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 50px;
}
