.footer {
  background: #DBD0C0;
  position: absolute;
  width: 100%;
  margin-top: $footer-margin-top;
  .container {
    height: $footer-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo img {
      width: 50px;
    }
  }

  .copyrights {
    font-size: 10px;
  }

  .plan {
    font-size: 10px;
    display: flex;
    align-items: center;
  }

  ul {
    list-style: none;

    .footer-item {
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.footer-mobile {
  background: transparent;
}
