.form-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.devise-logo {
  display: flex;
  justify-content: center;
  img {
    width: 350px;
  }
  margin: 100px 0;
}

//===== FORM FOR DEVISE/IDENTIFICATION =====//

.id-form {
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(155, 155, 155);
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .form-inputs {
    width: 100%;
    margin-bottom: 50px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    input {
      height: 40px;
      border-radius: 5px;
      border: 1px solid gray;
      padding: 0 10px;
      font-size: 16px;
    }
  }

  .form-group-picture {
    margin: 20px 0;
    width: 100%;
    text-align: center;

    input {
      width: 100%;
    }

    .input {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .upload-button::file-selector-button {
      visibility: hidden;
    }

    .upload-button::before {
      content: 'Télécharger la photo';

      &.edit {
        content: 'Modifier la photo'
      }

      text-align: center;
      padding: 10px;
      font-weight: bold;
      display: inline-block;
      margin: 0 2.5%;
      color: #fff;
      background: $blue;
      border: none;
      width: 90%;
      height: 15px;
      border-radius: 4px;
      border-bottom: 4px solid rgb(12, 1, 47);
      transition: all .2s ease;
      outline: none;
      cursor: pointer;
    }

    .upload-button:hover::before {
      background: #113a64;
      color: lightgray;
    }

    .upload-button:active::before {
      border:0;
    }

    .overview-div {
      height: 10vh;
      border: 1px dashed gray;
      background: $light-gray;
      max-width: 99%;
      margin-bottom: 10px;

      list-style: none;
      padding: 5px;
      font-size: 14px;
    }
  }

  .form-actions {
    input {
      border: 0;
    }
  }

  .sign-up {
    font-size: 12px;
    a {
      color: $blue;
    }
  }
}

@media (max-width: 700px) {
  .devise-logo {
    margin: 0;
  }

  .id-form {
    width: 70%;
  }
}

//===== FORM FOR CONTACT PAGE =====//

.contact-form {
  width: 80%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(155, 155, 155);
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .form-inputs {
    width: 70%;
    margin-bottom: 50px;
  }

  .form-group {

    margin: 20px 0;

    input {
      height: 40px;
      width: 70%;
      border-radius: 5px;
      border: 1px solid gray;
      padding: 0 10px;
      font-size: 16px;
    }

    .input {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .form-group-picture {
    margin: 20px 0;
    width: 100%;
    text-align: center;

    input {
      width: 100%;
    }

    .input {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .upload-button::file-selector-button {
      visibility: hidden;
    }

    .upload-button::before {
      content: 'Télécharger la photo';

      &.edit {
        content: 'Modifier la photo'
      }

      text-align: center;
      padding: 10px;
      font-weight: bold;
      display: inline-block;
      margin: 0 2.5%;
      color: #fff;
      background: $blue;
      border: none;
      width: 90%;
      height: 15px;
      border-radius: 4px;
      border-bottom: 4px solid rgb(12, 1, 47);
      transition: all .2s ease;
      outline: none;
      cursor: pointer;
    }

    .upload-button:hover::before {
      background: #113a64;
      color: lightgray;
    }

    .upload-button:active::before {
      border:0;
    }

    .overview-div {
      height: 10vh;
      border: 1px dashed gray;
      background: $light-gray;
      max-width: 99%;
      margin-bottom: 10px;

      list-style: none;
      padding: 5px;
      font-size: 14px;
    }
  }

  .form-group-text {
    .input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        margin-bottom: 20px;
      }

      #message_body {
        width: 100%;
        border-radius: 5px;
        height: 50vh;
        padding: 30px;
        font-family: $body-font;
      }
    }
  }

  .form-actions {
    input {
      border: 0;
    }
  }
}

@media (max-width: 700px) {
  .contact-form {
    .form-group {
      .input {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .form-group-text {
      .input {
        #message_body {
          width: 80%;
          height: 40vh;
        }
      }
    }
  }


}

// ===== FORM FOR PAINTINGS ===== //

.painting-form {
  width: 80%;
  background: $light-gray;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(155, 155, 155);
  margin: 0 auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
  }

  .form-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  .form-inputs {
    width: 100%;
    margin-bottom: 50px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 100%;

    .input {
      width: 100%;
    }

    input {
      width: 90%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid gray;
      padding: 0 10px;
      font-size: 16px;
    }

    &.checkbox {
      label {
        display: flex;
        align-items: center;
        margin: 5px 0;
      }

      input {
        width: 10%;
        height: 20px;
      }
    }
  }

  .form-actions {
    grid-area: 2 / 1 / 3 / 3;
    margin: 0 auto;
    input {
      border: 0;
    }
  }

  .form-group-picture {
    margin: 20px 0;
    width: 100%;
    text-align: center;

    input {
      width: 100%;
    }

    .input {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .upload-button::file-selector-button {
      visibility: hidden;
    }

    .upload-button::before {
      content: 'Télécharger la photo';

      &.edit {
        content: 'Modifier la photo'
      }

      text-align: center;
      padding: 10px;
      font-weight: bold;
      display: inline-block;
      margin: 0 2.5%;
      color: #fff;
      background: $blue;
      border: none;
      width: 90%;
      height: 15px;
      border-radius: 4px;
      border-bottom: 4px solid rgb(12, 1, 47);
      transition: all .2s ease;
      outline: none;
      cursor: pointer;
    }

    .upload-button:hover::before {
      background: #113a64;
      color: lightgray;
    }

    .upload-button:active::before {
      border:0;
    }

    .overview-div {
      height: 10vh;
      border: 1px dashed gray;
      background: $light-gray;
      max-width: 99%;
      margin-bottom: 10px;

      list-style: none;
      padding: 5px;
      font-size: 14px;
    }
  }

  .form-group-text {
    width: 100%;

    .input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 90%;

      label {
        margin-bottom: 20px;
      }

      #painting_description {
        width: 100%;
        border-radius: 5px;
        border: 1px solid gray;
        height: 15vh;
        padding: 10px;
        font-family: $body-font;
        overflow: auto;
        word-wrap: break-word;
      }
    }
  }

  .sign-up {
    font-size: 12px;
    a {
      color: $blue;
    }
  }
}

//===== FORM FOR NEW ORDER =====//

.recap-form {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;

  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form-group {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    input {
      width: 90%;
      height: 40px;
      border-radius: 5px;
      border: 1px solid gray;
      padding: 0 10px;
      font-size: 16px;
    }
  }

  .form-actions {
    display: none;
    input {
      border: 0;
    }
  }
}

//===== STYLE FOR ADRESS GEOCODING =====//

.mapboxgl-ctrl-geocoder--icon {
  display: none;
}

.mapboxgl-ctrl-geocoder--input {
  border: solid 1px lightgray;
  border-radius: 4px;
  width: 90%;
  padding: 10px;
  font-size: 18px;
}

.mapboxgl-ctrl-geocoder--pin-right {
  display: none;
}

.suggestions-wrapper {
  border-radius: 4px;
  width: 90%;
  padding: 10px;
  font-size: 15px;

  .suggestions {
    background: white;
    list-style: none;
    text-align: left;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 20px;

    li {
      padding: 5px 0;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
    }
  }
}
