.disapear {
  display: none;
}

.sm-italic {
  font-size: 12px;
  font-style: italic;
}

.no-border {
  border: none;
}

.center {
  margin: 0 auto;
}

//===== MARGINS =====//

.margin-none {
  margin: 0;
}

.margin-top-none {
  margin-top: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-left-none {
  margin-left: 0;
}

.margin-right-none {
  margin-right: 0;
}
