.paintings-list {
  list-style: none;
}

.paintings-list-item {
  margin: 5px 0;
  a {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }
}

.order-success-div {
  width: 70%;
  margin: 0 auto;

  h1 {
    width: 50%;
    margin: 0 auto 50px auto;
    text-align: center;
  }

  a {
    text-decoration: underline;

    &:hover {
      font-weight: bold;
    }
  }
}
