// ===== MAIN NAVBAR WHEN NEW PAGE ===== //

.navbar-principal {
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  $navbar-height: 194.781px;
  height: $navbar-height;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo img {
      width: 230px;
    }
  }
  .nav-items {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    text-align: center;
    .nav-item {
      list-style: none;
      padding: 12px;
      position: relative;
      cursor: pointer;
    }
    .button_to > button {
      background: transparent;
      border: 0px;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
    }

    a:hover, #account-tab:hover {
      font-weight: bold;
    }
  }
}

.main-user-dropdown {
  z-index: 10;
  background-color: #DBD0C0;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 47px;
  right: 0px;
  list-style: none;
  padding: 10px;
  text-align: center;
  outline: 1px solid black;
  .main-user-dropdown-item {
    font-size: 12px;
    padding: 10px 0;
  }
}


// ===== SECOND NAVBAR WHEN SCROLLING ===== //

.navbar-secondary {
  background: #DBD0C0;
  position: fixed;
  width: 100%;
  $navbar-height: 76px;
  height: $navbar-height;
  top: 0;
  z-index: 10;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo img {
      width: 64px;
    }
    .logo {
      transform: translateX(-30%) scale(0.95);
      opacity: 0;
      transition: all .5s;
      &.active {
        opacity: 1;
        transform: translateX(0%) scale(1);
      }
    }
  }
  .nav-items {
    margin: 0;
    padding: 0;
    width: 45%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    text-align: center;
    transform: translateX(30%) scale(0.95);
    opacity: 0;
    transition: all .5s;
    &.active {
      opacity: 1;
      transform: translateX(0%) scale(1);
    }
    .nav-item {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 12px;
      &:last-child {
        position: relative;
        cursor: pointer;
      }
    }
    a, .button_to > button {
      text-decoration: none;
      color: $font-color;
      background: transparent;
      border: 0px;
      cursor: pointer;
      &:hover {
        font-weight: bold;
      }
    }
  }
}

.user-dropdown {
  background-color: white;
  position: absolute;
  width: 112px;
  top: 70px;
  right: 5px;
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  .user-dropdown-item {
    font-size: 12px;
    padding: 10px 0;
  }
}
