.painting-pic-xs {
  height: 20px;
  border: 2px solid gray;
}

.painting-pic-edit-form {
  width: 90%;
  margin-top: 20px;
}

.order-check {
  margin: 50px auto;
  text-align: center;

  img {
    width: 100px;
  }
}
