// Import config files
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome";

// Your CSS partials
@import "components/index";

body {
  margin: 0;
  background: $background;
  font-family: $body-font;
  color: $font-color;
  height: 100%;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
}

h1, h2, h3, h4 {
  font-family: $headers-font;
}

a {
  text-decoration: inherit;
  color: inherit;
}
