<div class="container">
  <h2>Commande de <%= @order.painting.title %> d'un montant de <%= humanized_money(@order.painting.price) %> €</h2>

  <p>Cette page de paiement est en cours de développement ... Revenez plus tard</p>
</div>
