<div class="container">
  <div class="main-grid">
    <% @paintings.each do |painting| %>
      <div class="product-card"><%= painting.title %></div>
    <% end %>
  </div>
  <% if policy(Painting).create? %>
    <%= link_to "Rajouter un joli tableau", new_peinture_path %>
  <% end %>
</div>
